/*************************************************
                       Color
*************************************************/

$white                        : #ffffff;
$balck                        : #000000;
$Cornflower-Blue              : #80ddfb;

/*************************************************
                  Color Function
*************************************************/

$color-header                 : $Cornflower-Blue;
